@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

:root {
  --background: var(--color-white);
  --foreground: var(--color-stone-900);
  --primary: var(--color-stone-800);
  --primary-foreground: var(--color-stone-50);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-stone-50);
  --muted: var(--color-stone-500);
  --muted-foreground: var(--color-stone-200);
  --border: var(--color-stone-300);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border antialiased;
    font-family: "Geist Variable", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}
